body {
    margin: 0;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}

.header {
    background-color: #06265d;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.header .logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    gap: 4px;

}

.header .logo img {

    width: 80px;
    /* Ajuste conforme necessário */

    height: auto;
    /* Mantém a proporção da imagem */
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.banner {
    background-color: #709ac9;
    padding: 15px 60px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-txt {
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.search-bnt {
    background-color: #06265d;
    color: #eee4e4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.search-bnt i {
    font-size: 16px;
    color: white;
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 20px;
}

.category {
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: background-color 0.3s;
}

.category:hover {
    background-color: #3272e0;

}



.footer {
    background-color: #06265d;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}

.rede img {
    width: 15px;
    /* Aumentei o tamanho para melhor visualização */
    height: 15px;
    transition: transform 0.2s ease;
    padding: 4px;
}

.rede img:hover {
    transform: scale(1.2);
}

.coluna {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rede {
    flex: 1;
    max-width: 300px;

}

.rede p {
    margin-bottom: 10px;
    font-size: 13PX;
}



.rede a {
    /* font-size: 24px; */
    transition: color 0.3s;
    text-decoration: none;
}