body {
    margin: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


.content {
    flex: 1;
}



.header {
    background-color: #06265d;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    flex-wrap: wrap; /* Adicionado para ajustar em telas pequenas */
}

.header .logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    gap: 4px;
}

.header .logo img {
    width: 80px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.video {
    padding: 10px;
}

.header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Adapta o menu em várias linhas, se necessário */
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.topico {
    text-align: left;
    padding: 15px;
}

.topico p {
    text-align: left;
    margin-left: 3px;
}

.cadastro_prod {
    text-align: left;
    padding: 10px;
}



.topico img {
    max-width: 100%;       /* Imagem nunca ultrapassará a largura do contêiner */
    height: auto;          /* Mantém a proporção da imagem */
    display: block;        /* Remove espaço embaixo da imagem */
    border: 1px solid #ddd; /* Borda leve para destaque */
    border-radius: 8px;    /* Bordas arredondadas */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
}


.negrito {
    font-weight: bold;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
}

.topico {
    flex: 1; /* O tópico ocupa o espaço restante */
    padding-right: 20px; /* Espaçamento entre o conteúdo principal e os artigos */
}

.artigos {
    width: 500px;
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.artigos a{
    text-decoration: none;
}

@media (max-width: 1024px) {
    body {
        flex-direction: column;
        align-items: center;
    }
    .artigos {
        width: 100%;
    }
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    flex-grow:none;
    bottom: 0;
    /* width: 100%; */
}



